setuptools >= 44.1.1  # Old setuptools causes script.module.addon.signals to fail installing
six >= 1.13
python-dateutil >= 2.8.1
requests >= 2.22
PyYAML >= 6.0

backports.zoneinfo; python_version < "3.9"
tzdata; platform_system == "Windows"

Kodistubs ~= 20.0

git+https://github.com/romanvm/kodi.six
git+https://github.com/ruuk/script.module.addon.signals

pytest >= 4.6.11
coverage >= 5.2
flake8 >= 3.8
flake8-import-order >= 0.18
websocket-client >= 1.6.4

types-requests >= 2.31
types-PyYAML >= 6.0
types-six >= 1.13
types-python-dateutil >= 2.8.1
types-setuptools >= 44.1.1

types-Pygments
types-colorama
