<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30014"> <!-- Emby -->
		<setting id="ipaddress" type="text" label="30000" default="" visible="true" enable="true" />
		<setting id="port" type="text" label="30030" default="8096" visible="true" enable="true" />
		<setting id="username" type="text" label="30024" />
		<setting type="sep" />
		<setting id="https" type="bool" label="30243" visible="true" enable="true" default="false" />
		<setting id="sslverify" type="bool" label="Verify Host SSL Certificate" visible="eq(-1,true)" enable="true" default="false" />
		<setting id="sslcert" type="file" label="Client SSL certificate" visible="eq(-2,true)" enable="true" default="None" />
		<setting type="sep" />
		<setting id="deviceName" type="text" label="30016" default="Kodi" />
		<setting id="playFromStream" type="bool" label="30002" visible="true" enable="true" default="false" />
	</category>
	<category label="Sync Options">
	<!--  	<setting id="syncMovieBoxSets" type="bool" label="30238" default="true" visible="true" enable="true" /> -->
		<setting id="dbSyncIndication" type="bool" label="30241" default="false" visible="true" enable="true" />
	</category>
	<category label="Playback"> <!-- Extra Sync options -->
		<setting id="smbusername" type="text" label="30007" default="" visible="true" enable="true" />
		<setting id="smbpassword" type="text" label="30008" default="" option="hidden" visible="true" enable="true" />
	    <setting id="autoPlaySeason" type="bool" label="30216" default="false" visible="true" enable="true" />
	    <setting type="sep" />
	    <setting id="videoBitRate" type="enum" label="30160" values="664 Kbps SD|996 Kbps HD|1.3 Mbps HD|2.0 Mbps HD|3.2 Mbps HD|4.7 Mbps HD|6.2 Mbps HD|7.7 Mbps HD|9.2 Mbps HD|10.7 Mbps HD|12.2 Mbps HD|13.7 Mbps HD|15.2 Mbps HD|16.7 Mbps HD|18.2 Mbps HD|20.0 Mbps HD|40.0 Mbps HD|100.0 Mbps HD [default]|1000.0 Mbps HD" default="17" />
		<setting id="forceTranscodingCodecs" type="text" label="30245" />
	</category>
	<category label="Artwork">
	    <setting id="disableCoverArt" type="bool" label="30157" default="false" visible="true" enable="true" />
	</category>
	<category label="30022">
		<setting id="logLevel" type="enum" label="30004" values="None|Info|Debug" default="1" />
		<setting label="30239" type="action" action="RunScript(plugin.video.emby, reset)" />
	</category>
</settings>
