name: Build Jellyfin-Kodi

on:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Set up Python
        uses: actions/setup-python@v5.3.0
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pyyaml

      - name: Build addon
        run: python build.py

      - name: Publish Build Artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          retention-days: 14
          name: py3-build-artifact
          path: |
            *.zip
